<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AestheticRestaurant | {{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='logo1.png') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body data-bs-theme="dark" style="background-color: black;">
  <style>
      #backgroundbody {
          background-image: url("{{ url_for('static', filename='logo2.png') }}");
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 100vh;
          position: center;
      }
      ::-webkit-scrollbar {
          width: 0;  /* Hide scrollbar width */
      }

      #backgroundcontainer {
          background-color: rgba(0, 0, 0, 0.8);
          width: 100%;
          height: 100vh;
          position: center;
          overflow: auto;
      }

      a {
          text-decoration: none;
      }
  </style>

  <div class="container" id="backgroundbody">
      <div class="col-md-auto" id="backgroundcontainer">


          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
              <div class="container-fluid">
                  <a class="navbar-brand" href="{{ url_for('home') }}">
                      <img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo of AestheticRestaurant" width="30" height="30" class="d-inline-block align-text-top">
                      AestheticRestaurant
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarScroll">
                      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <!-- Button Home -->
                        <li class="nav-item" data-bs-theme="dark">
                          <a class="nav-link" href="{{ url_for('home') }}" role="button" aria-expanded="false">
                              Home
                          </a>
                        </li>

                        <!-- Button Menu -->
                        <li class="nav-item" data-bs-theme="dark">
                          <a class="nav-link" href="{{ url_for('menu') }}" role="button" aria-expanded="false">
                              Menu
                          </a>
                        </li>

                        {% if admin %}

                        <!-- Button Admin Dashboard -->
                        <li class="nav-item" data-bs-theme="dark">
                            <a class="nav-link" href="{{ url_for('admin_dashboard') }}" role="button" aria-expanded="false">
                                Admin
                            </a>
                          </li> 


                        {% endif %}



                        {% if user %}
                         
                          <li class="nav-item dropdown" data-bs-theme="dark">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                User
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('reservation') }}">Reservation</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('ordersummary') }}">History</a></li>
                            </ul>
                          </li>

                        {% endif %}



                        <!-- Button Support -->
                        <li class="nav-item dropdown" data-bs-theme="dark">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Support
                          </a>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{{ url_for('aboutus') }}">About Us</a></li>
                              <li><a class="dropdown-item" href="{{ url_for('reviews_page') }}">Reviews</a></li>
                              <li><a class="dropdown-item" href="{{ url_for('contact') }}">Contact Us</a></li>
                          </ul>
                        </li>

                        {% if staff and user %}
                        <!-- Button Staff Dashboard -->
                        <li class="nav-item mr-auto" data-bs-theme="dark">
                           <a class="nav-link" href="{{ url_for('staff_dashboard') }}" role="button" aria-expanded="false">
                                Staff Dashboard
                           </a>
                        </li>
                        
                        {% endif %}

                      </ul>

                      {% block searchbar %}
                      {% endblock %}

                      <!-- use if statement for login -->
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            {% if user or admin %}
                            <button type="button" id="logout" class="btn btn-danger" style="text-align: right;" onclick="window.location.href='{{ url_for('logout') }}'">Log out</button>
                            {% else %}
                                <button type="button" class="btn btn-success"  onclick="window.location.href='{{ url_for('login') }}'" style="text-align: right;" >Login</button>
                            {% endif %}
                        </div>

                    

                  </div>
              </div>
          </nav>

          <br>

          <div class="container">
              <!-- Content block -->
              {% block content %}
              {% endblock %}
          </div>
      </div>
  </div>

    {% block script %}
    {% endblock %}

    {% if popup_message %}
    <script>
        showPopup("{{ popup_message }}");
    </script>
    {% endif %}
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
{% block style %}
{% endblock %}

</html>
