{% extends 'base.html' %}

{% block searchbar %}
    <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search our dishes" list="menudata" id="searchbar" aria-label="Search">
        <datalist id="menudata">
            {% for i in name %}
            <option value="{{ i }}">
            {% endfor %}
          </datalist>
        <button class="btn btn-outline-light" onclick="champsearch()">Search</button>
    </div>




    <script type="text/javascript">
        function capitalize(string) {
            return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
        }


        function champsearch(){
            var input = document.getElementById("searchbar").value;
            input=capitalize(input)
            window.location = "#" + input;
            document.getElementById("searchbar").value="";

        }

        const searchbar = document.getElementById('searchbar');
        searchbar.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                champsearch()
            }
        });
    </script>
{% endblock %}




{% block content %}
    <h3 class="fs-1 text text-light">
        <small class="text-light text-opacity-55">Menu</small>
    </h3>

    <br><br>

    {% if user %}
    <h1><small class="text-light text-opacity-75">Welcome {{user.name}}</small></h1>
    <br><br>
    {% endif %}

    
    {% if admin %}
    <h1><small class="text-light text-opacity-75">Welcome Admin</small></h1>
    <br><br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" id="btn_edit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="text-align: right;" >Add item</button>
    </div>
    {% endif %}


    <!-- menu recommendation -->
     


    {% if user and recommended %}
    <!-- Box 1 Section -->
    <div class="row mb-5 align-items-center">
        <!-- Carousel Box 1 [top left] -->
        <div class="col-md-6">
            <div id="carouselExample" class="carousel slide align-items-center" style="width: 100%;">

                <div class="carousel-inner align-items-center" >
    
                    <div class="carousel-item active align-items-center" style>
                        <img src="{{ url_for('static', filename='menupic/'+recommended.pictures[0]) }}" class="d-block w-100" style="object-fit: contain;" alt="A picture of {{recommended.name}}">
                        <div class="carousel-caption d-none d-md-block">
                          </div>
                    </div>
    
                    {% for i in recommended.pictures[1:] %}
                    <div class="carousel-item align-items-center">
                        <img src="{{ url_for('static', filename='menupic/'+i) }}" class="d-block w-100" alt="A picture of {{recommended.name}}">
                        <div class="carousel-caption d-none d-md-block">
                          </div>
                    </div>
                    {% endfor %}
                
                </div>
                
    
                <!-- Buttons for navigation -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Text for Box 1 [top right] -->
        <div class="col-md-6 align-items-center" >
            <p class="text-light ">Hey {{user.name}}, we thought you would like one of our top picks <a style="color: rgb(225, 116, 65);" href="{{ url_for('menu', item_id=recommended.itemcode) }}">{{recommended.name}}</a></p>
            <br>
            <p class="text text-opacit-50">{{ recommended.description }}</p>
            <br>
            <button type="button" id="btn_edit" class="btn btn-outline-secondary" onclick="window.location.href='{{ url_for('menu', item_id=recommended.itemcode) }}'" style="text-align: right;" >Check it out</button>

        </div>
    </div>
    {% endif %}






     





    <!-- Champion list cards -->

    <p class="fs-3 text-">Explore Our Full Menu!</p>
        <p class="fs-4" style="text-indent: 40px;">Discover all the delicious options we have to offer, crafted to satisfy every palate.</p>
        <br> <br>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-3 ">
            {% for i in menu %}
            <a href="{{ url_for('menu', item_id=i.itemcode) }}">
                <div class="col" id="{{ i.itemcode }}">
                    <div class="p-3 border-0">
                        <div class="card mb-3 bg-dark bg-opacity-50 text-light" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ url_for('static', filename='menupic/'+i.pictures[0]) }}"  class="img-fluid rounded-start" alt="Image of {{ i.name }}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <!-- Use champ_data['name'] here -->
                                        <h4 class="card-title">{{ i.name }}</h4>
                                        <p class="card-text text-light"><small class="text-light text-opacity-50">{{ i.description }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>  
            {% endfor %}
        </div>
    </div>





    {% if admin %}
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                
                <!-- form to edit menu -->

                <form id="addmenu" class="row g-3" action="{{ url_for('addmenu')}}" method="POST" enctype="multipart/form-data">

                    <!-- Name -->
                    <div class="col-12">
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" class="form-control" name="inputName" placeholder="Adolf's pancake" >
                    </div>

                    <!-- Description -->
                    <div class="col-12">
                        <label for="inputPreferredIngredients" class="form-label">Description</label>
                        <textarea class="form-control" name="description" placeholder="Describe the item that you are adding..." rows="2" ></textarea>
                    </div>

                      <!-- Ingredients -->
                    <div class="col-12">
                        <label for="inputPreferredIngredients" class="form-label">Ingredients</label>
                        <textarea class="form-control" name="ingredients" placeholder="List the ingriedients seperate with ',' " rows="2" ></textarea>
                    </div>                 
      
                    <!-- Weight -->
                    <div class="col-12">
                      <label for="price" class="form-label">Price</label>
                      <input type="number" class="form-control" name="price" placeholder="e.g., 650" >
                    </div>

                    <!-- File inputs -->
                    <div class="col-12">
                        <label for="formFileMultiple" class="form-label">Select images for the menu</label>
                        <input class="form-control" type="file" name="menuimage" multiple>
                      </div>

                </form>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Discrad</button>
                <button type="submit" form="addmenu" class="btn btn-outline-success">Confirm</button>
            </div>

        </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

