{% extends 'base.html' %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item fs-5"><a class="text-light text-opacity-50" href="#">User</a></li>
    <li class="breadcrumb-item active fs-5 text-light" aria-current="page">Profile</li>
  </ol>
</nav>

<br>

<!-- Main body for profile -->
<div class="container">
    <div class="row">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        
    </div>
      
        <!-- Left part of the page -->
        <div class="col-2">
            <!-- USe for profile picture email and base info -->


            <!-- profile picture -->
            <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" style="height: 180px; width: 180px;" class="object-fit-lg-contain border rounded" alt="Placeholder image square">
            <p>userid :{{user.customer_id}}</p>
        </div>


        <!-- Right half of the page -->
        <div class="col-10">

            <!-- Profile information -->
            <form id="profileform" class="row g-3" method="post" action="{{ url_for('profile') }}">

                <!-- Name -->
                <div class="col-12">
                    <label for="inputName" class="form-label">Name</label>
                    <input type="text" class="form-control" name="inputName" value="{{user.name}}" >
                </div>

                <!-- Email -->
                <div class="col-md-6">
                  <label for="inputEmail" class="form-label">Email</label>
                  <input type="email" class="form-control" name="inputEmail" value="{{ user.email }}" >
                </div>

                <!-- Phone -->
                <div class="col-md-6">
                  <label for="inputPhoneNo" class="form-label">Phone No</label>
                  <input type="text" class="form-control" name="inputPhoneNo" value="{{user.phone}}" >
                </div>

                <!-- Address -->
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" class="form-control" name="inputAddress" value="{{ user.email}}" >
                </div>

                <!-- BirthDate -->
                <div class="col-md-6">
                  <label for="inputDateofBirth" class="form-label">Date of Birth</label>
                  <input type="text" class="form-control" name="inputDateofBirth" value="{{user.birthdate}}" >
                </div>

                <!-- Allergens -->
                <div class="col-12">
                  <label for="inputAllergens" class="form-label">Allergens</label>
                  <textarea class="form-control" name="inputAllergens" value="" rows="2" >{{ user.allergens }}</textarea>
                </div>

                <!-- Height -->
                <div class="col-md-6">
                  <label for="inputHeight" class="form-label">Height (cm)</label>
                  <input type="number" class="form-control" name="inputHeight" value="{{ user.height }}" >
                </div>

                <!-- Weight -->
                <div class="col-md-6">
                  <label for="inputWeight" class="form-label">Weight (kg)</label>
                  <input type="number" class="form-control" name="inputWeight" value="{{user.weight}}" >
                </div>

                <!-- Preferred Ingredients -->
                <div class="col-12">
                  <label for="inputPreferredIngredients" class="form-label">Preferred Ingredients</label>
                  <textarea class="form-control" name="inputPreferredIngredients" value="" rows="2" >{{ user.preferred_ingredients }}</textarea>
                </div>

                <!-- Level of Masala -->
                <div class="col-md-6">
                  <label for="inputMasalaLevel" class="form-label">Level of Masala</label>
                  <input type="number" class="form-control" name="inputMasalaLevel" value="{{ user.level_of_masala }}" >
                </div>

                <br>

                <!-- Buttons -->
                <div class="col-12">
                  <button type="button" id="btn_save" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Edit</button>
                </div>
                <br>
            </form>
        </div>
      
    </div>
</div>


<!-- modal popp -->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to save the changes?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Decline</button>
        <button type="submit" form="profileform" class="btn btn-outline-success">Confirm</button>
      </div>
    </div>
  </div>
</div>













<script src="static/script/script.js"></script>


<script>

  function clickbtnedit(){
    enabletxtmultiple('inputName', 'inputEmail', 'inputPhoneNo', 'inputAddress', 'inputDateofBirth', 'inputAllergens', 'inputHeight', 'inputWeight', 'inputPreferredIngredients', 'inputMasalaLevel')
    hide_unhide('btn_save')
  }


  function clickbtnsave(){
    disbletxtmultiple('inputName', 'inputEmail', 'inputPhoneNo', 'inputAddress', 'inputDateofBirth', 'inputAllergens', 'inputHeight', 'inputWeight', 'inputPreferredIngredients', 'inputMasalaLevel')
    // hide_unhide('btn_save')
  }

</script>



{% endblock %}