{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
    <h1 class="text-center">Staff Schedule</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in staff_members %}
            <tr>
                <td>{{ staff.name }}</td>
                <td>{{ staff.role }}</td>
                {% for day in range(7) %}
                <td>
                    {{ staff.hours[day].start if staff.hours[day] else 'N/A' }} - 
                    {{ staff.hours[day].end if staff.hours[day] else 'N/A' }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
